:root {
  --primary-color: linear-gradient(
    180deg,
    #fef3c3 42.62%,
    rgba(140, 95, 44, 0) 79.51%
  );
  --secondary-color: #d0d6f9;
  --accent-color: #fef3c3;
  --bg-color: #0b0d17;
  --white-color: hsl(0, 0%, 100%);
  --white-trans: rgb(255, 255, 255, 4%);
}
