@use "../utils/" as *;

h1,
h2,
h3,
p,
blockquote,
figure {
  margin: 0;
}

h1 {
  font-size: rem(200);
}

a,
a:active,
a:visited {
  text-decoration: none;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}
